@import "../../../../variables";
.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$used-vertical-area-space} - 20px);

  &.no-data-small {
    height: 100%;
    display: block;
  }

  .no-data-container {
    box-sizing: border-box;
    font-weight: lighter;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    color: $color-no-data-text;
    background-color: $bg-color-no-data;



    .line2 {
      margin-top: 15px;
    }
  }
}



