<mat-nav-list>
  <a mat-list-item (click)="action($event, 'gotoTasks')">
    <span>Vis projekt opgaver</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="action($event, 'gotoComments')">
    <span>Vis projekt kommentarer</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="action($event, 'removeFromProject')">
    <span>Forlad projektet</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="action($event, 'editProject')">
    <span>Redigere projektet</span>
  </a>
</mat-nav-list>
