<div mat-list-item appItemContainer="template" class="template-item">
  <div class="item-content">
      <div class="item-title">
          <button *ngIf="editMode" mat-icon-button (tap)="editTitleDesc()"><mat-icon>edit</mat-icon></button>
          <app-item-title-desc [title]="template.title" [description]="template.description"></app-item-title-desc>
      </div>

      <button *ngIf="!addMode && editMode" mat-icon-button (tap)="deleteTemplate()"><mat-icon>delete</mat-icon></button>
      <button *ngIf="!addMode && !editMode" mat-icon-button (tap)="editTemplate()"><mat-icon>edit</mat-icon></button>
      <button *ngIf="addMode" mat-icon-button (tap)="createProjectFromTemplate()"><mat-icon>add_circle</mat-icon></button>
  </div>
  <button *ngIf="editMode" class="item-add" mat-button type="button" (tap)="addTask()">Tilføj en opgave gruppe<mat-icon>add_circle</mat-icon></button>
  <mat-list>
      <app-template-task-item [editMode]="editMode" *ngFor="let templateTask of templateTasks" [templateTask]="templateTask"></app-template-task-item>
    </mat-list>
</div>
