@import "../../../../variables";

.template-item {
  .item-content {
    @include flex-row-spacebetween;

    .item-title {
      display: flex;
      align-items: center;
    }
  }

  .item-add {
    mat-icon {
      margin-left: 5px;
    }
  }

  .template-items-expand {
    display: flex;
    justify-content: flex-end;
  }
}
