<div class="month-task-container">
  <div class="month-task-title">
    <button mat-icon-button (click)="editCalendarItem()" *ngIf="editMode" class="app-button-outline">
      <mat-icon>edit</mat-icon>
    </button>
    <fa-icon [icon]="['fas', 'circle']" class="month-task-icon"></fa-icon>
    <div class="month-task-title-text">
      <div>
        {{calendarItem?.text}}
      </div>
    </div>
  </div>
  <button class="month-task-delete app-button-outline" mat-icon-button (click)="deleteCalendarItem()" *ngIf="editMode">
    <mat-icon>delete</mat-icon>
  </button>
</div>
