@import "../../../../variables";

.month-task-container {
  @include flex-row-spacebetween-center;

  .month-task-title {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 10px;

    .month-task-icon {
      font-size: 0.5rem;
      margin-right: 5px;
    }
  }

  .month-task-delete {
    margin-right: 10px;
  }
}


