@import "../../../../../colors";

.app-sublist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 5px 2px 5px 10px;
  background-color: $pink-500;
  margin-bottom: 5px;
  border-radius: 4px;
  min-height: 50px;

  &.app-sublist-item-completed {
    background-color: $pink-900;
  }

  .app-sublist-item-title-completed {
    text-decoration: line-through;
  }

  .app-sublist-item-users {
    padding-top: 5px;
  }

  button {
    outline: none;
  }

  .icon-not-user {
    margin-right: 10px;
  }
}

.app-sublist-item-edit-container {
  padding-left: 0;
  .app-sublist-item-edit {
    display: flex;
    align-items: center;

    button {
      margin-right: 5px;
    }
  }

  &:hover {
    background-color: $pink-300;
    border-radius: 4px;
  }
}
