<div class="app-sublist-item" [ngClass]="{
    'app-sublist-item-edit-container': editMode,
    'app-sublist-item-completed': !editMode && (state === 'completed' || state === 'completed-not-user')}">
  <div class="app-sublist-item-edit">
    <button mat-icon-button type="button" (tap)="onEdit()" *ngIf="editMode">
      <mat-icon>edit</mat-icon>
    </button>
    <div>
      <div class="app-sublist-item-title"
        [ngClass]="{'app-sublist-item-title-completed': !editMode && (state === 'completed' || state === 'completed-not-user')}">
        {{ subTask.title }}</div>
      <div class="app-sublist-item-users" *ngIf="users.length && !editMode">
        <app-users-list [type]="'subtask'" [users]="users" [completedUserId]="completedUserId"
          (userClick)="removePersonFromSubTask($event)" [enableRemoveUserButton]="true"></app-users-list>
      </div>
    </div>
  </div>

  <app-checkbox *ngIf="!editMode && (state === 'check' || state === 'completed')" [selected]="checkValue"
    (checkboxClick)="checkboxClicked($event)"></app-checkbox>
  <button *ngIf="!editMode && state === 'add'" mat-icon-button (tap)="addPersonToSubTask()">
    <mat-icon>person_add</mat-icon>
  </button>
  <button *ngIf="editMode" mat-icon-button type="button" (tap)="onDelete()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
