.app-filter {
  .app-filter-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .app-filter-items {
    box-sizing: border-box;
    transform-origin: top;
    .app-filter-item {
      display: flex;
      align-items: center;
    }
  }
}
