<div class="app-filter" [appItemContainer]="containerType">
  <div class="app-filter-action">
    <div class="app-filter-title">{{title}}</div>
    <button mat-icon-button class="app-button-outline" [@buttonRotate]="stateOpenClose" (click)="openClose()">
      <mat-icon>expand_less</mat-icon>
    </button>
  </div>
  <div class="app-filter-items" [@containerScale]="stateOpenClose">
    <div class="app-filter-item" *ngFor="let filterItem of filterItems">
      <app-radio [selected]="filterItem.selected" [value]="filterItem.value" (radioClick)="filterChange($event)">
      </app-radio>
      <span>{{filterItem.text}}</span>
    </div>
  </div>
</div>
