@import "../../../variables";
.settings-item {
  &.flex-between {
    @include flex-row-spacebetween-center;
  }

  &.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
