<mat-list>
  <div appItemContainer="setting" class="settings-item flex-between">
    <div>{{name}}</div>
    <button mat-icon-button (click)="changeName()" class="app-button-outline">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div appItemContainer="setting" class="settings-item flex-between">
    <div>Vis kalender på forsiden</div>
    <mat-slide-toggle color="accent" labelPosition="before" (change)="showCalendar($event)"
      [checked]="settings?.showCalendar">
    </mat-slide-toggle>
  </div>
  <div appItemContainer="setting" class="settings-item flex-between">
    <div>Mine rettigheder</div>
    <div>
      <div class="flex-between"><span class="settings-item-space-right">Redaktør:</span> <span>{{user.editor ? "Ja" : "Nej"}}</span></div>
      <div class="flex-between"><span class="settings-item-space-right">Administrator:</span> <span>{{user.admin ? "Ja" : "Nej"}}</span></div>
    </div>
  </div>
</mat-list>
