@import "../../../variables";
.flex-between {
  @include flex-row-spacebetween-center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settings-item-space-right {
  margin-right: 10px;
}
