@import "../../../colors";
@import "../../../variables";

.app-appbar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: $indigo-500;
  color: $text-inverse;
  padding-left: 10px;
  height: $navbar-height;

  .brand {
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 10px;
  }

  .menu {
    button {
      margin-right: 10px;

      .menu-indicator {
        position: absolute;
        left: 6px;
        top: 8px;
        border-radius: 50%;
        background-color: red;
        display: inline-block;
        width: 10px;
        height: 10px;
      }
    }
  }
}

.navbar-progress {
  height: 2px;
}

button {
  outline: none;
}

