<nav class="app-appbar" [ngClass]="navbarColorStateData">
  <div>
    <button mat-icon-button *ngIf="showNavBack" (tap)="backButtonClick()" class="app-button-outline">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <a [routerLink]="['/']" *ngIf="showIsAuth">
      <img src="assets/images/sbv_logo_250x250.png" alt="Logo" class="brand">
    </a>
    <div *ngIf="!showIsAuth">
      <img src="assets/images/sbv_logo_250x250.png" alt="Logo" class="brand">
    </div>
  </div>
  <div *ngIf="navbarTitle">
    {{navbarTitle}}
  </div>
  <div class="menu" *ngIf="showIsAuth">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="app-button-outline">
      <span *ngIf="showIndicator" class="menu-indicator"></span>
      <mat-icon>menus</mat-icon>
    </button>
  </div>
  <button mat-button *ngIf="showLogout" (tap)="menuItemClick('logout')" class="app-button-outline">
    <fa-icon [icon]="['fas', 'sign-out-alt']" class="app-menu-icon"></fa-icon>Log ud
  </button>
  <div *ngIf="!showIsAuth && !showLogout" class="menu-placeholder"></div>
</nav>
<div class="navbar-progress">
  <mat-progress-bar *ngIf="showProgressbar" mode="indeterminate"></mat-progress-bar>
</div>
<mat-menu #menu="matMenu" xPosition="before">
  <div mat-menu-item [disableRipple]="true" [disabled]="true">
    <fa-icon [icon]="['fas', 'user']" class="app-menu-icon"></fa-icon>{{name}}
  </div>
  <button mat-menu-item (tap)="menuItemClick('home')" class="app-button-outline">
    <fa-icon [icon]="['fas', 'home']" class="app-menu-icon"></fa-icon>Forside
  </button>
  <button mat-menu-item (tap)="menuItemClick('calendar')" class="app-button-outline">
    <fa-icon [icon]="['far', 'calendar-alt']" class="app-menu-icon"></fa-icon>Kalender
  </button>
  <button mat-menu-item (tap)="menuItemClick('calendaredit')" class="app-button-outline" *ngIf="authService.isEditor">
    <fa-icon [icon]="['far', 'calendar-plus']" class="app-menu-icon"></fa-icon>Rediger kalender
  </button>
  <button mat-menu-item (tap)="menuItemClick('projects')" class="app-button-outline" *ngIf="authService.isEditor">
    <fa-icon [icon]="['far', 'lightbulb']" class="app-menu-icon"></fa-icon>Rediger projekter
  </button>
  <button mat-menu-item (tap)="menuItemClick('templates')" class="app-button-outline" *ngIf="authService.isEditor">
    <fa-icon [icon]="['far', 'clipboard']" class="app-menu-icon"></fa-icon>Rediger skabeloner
  </button>
  <button mat-menu-item (tap)="menuItemClick('approveusers')" class="app-button-outline" *ngIf="authService.isAdmin">
    <span *ngIf="showIndicator" class="menu-item-indicator"></span>
    <fa-icon [icon]="['fas', 'users']" class="app-menu-icon"></fa-icon>Godkend brugere
  </button>
  <button mat-menu-item (tap)="menuItemClick('adminusers')" class="app-button-outline" *ngIf="authService.isAdmin">
    <fa-icon [icon]="['fas', 'users']" class="app-menu-icon"></fa-icon>Administrer brugere
  </button>
  <button mat-menu-item (tap)="menuItemClick('settings')" class="app-button-outline">
    <fa-icon [icon]="['fas', 'cog']" class="app-menu-icon"></fa-icon>Indstillinger
  </button>
  <button mat-menu-item (tap)="menuItemClick('logout')" class="app-button-outline">
    <fa-icon [icon]="['fas', 'sign-out-alt']" class="app-menu-icon"></fa-icon>Log ud
  </button>
</mat-menu>
