<nav class="app-appbar">
  <div>
    <!-- <button mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button> -->
    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <img src="assets/images/sbv_logo_250x250.png" alt="Logo" class="brand">
    </a>
  </div>
  <div>{{title}}</div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <button *ngIf="showLogout" mat-button type="button" (click)="logout()"><mat-icon>person</mat-icon>Log ud</button> -->
  </div>
</nav>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
