<nav class="app-appbar" [ngClass]="navbarColorStateData">
  <div>
    <button mat-icon-button *ngIf="showNavBack" (tap)="backButtonClick()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <a [routerLink]="['/']" *ngIf="showIsAuth">
      <img src="assets/images/sbv_logo_250x250.png" alt="Logo" class="brand">
    </a>
    <div *ngIf="!showIsAuth">
      <img src="assets/images/sbv_logo_250x250.png" alt="Logo" class="brand">
    </div>
  </div>
  <div *ngIf="navbarTitle">
    {{navbarTitle}}
  </div>
  <div class="menu" *ngIf="showIsAuth">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <span *ngIf="showIndicator" class="menu-indicator"></span>
      <mat-icon>menus</mat-icon>
    </button>
  </div>
  <div class="menu-placeholder" *ngIf="!showIsAuth"></div>
</nav>
<div class="navbar-progress">
  <mat-progress-bar *ngIf="showProgressbar" mode="indeterminate"></mat-progress-bar>
</div>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item (tap)="menuItemClick('home')">
    <fa-icon [icon]="['fas', 'home']" class="app-menu-icon"></fa-icon>Mine Projekter
  </button>
  <button mat-menu-item (tap)="menuItemClick('calendar')">
    <fa-icon [icon]="['far', 'calendar-alt']" class="app-menu-icon"></fa-icon>Kalender
  </button>
  <button mat-menu-item (tap)="menuItemClick('calendaredit')">
    <fa-icon [icon]="['far', 'calendar-plus']" class="app-menu-icon"></fa-icon>Rediger kalender
  </button>
  <button mat-menu-item (tap)="menuItemClick('projects')">
    <fa-icon [icon]="['far', 'lightbulb']" class="app-menu-icon"></fa-icon>Projekter
  </button>
  <button mat-menu-item (tap)="menuItemClick('templates')">
    <fa-icon [icon]="['far', 'clipboard']" class="app-menu-icon"></fa-icon>Skabeloner
  </button>
  <button mat-menu-item (tap)="menuItemClick('approveusers')">
    <span *ngIf="showIndicator" class="menu-item-indicator"></span>
    <fa-icon [icon]="['fas', 'users']" class="app-menu-icon"></fa-icon>Godkend brugere
  </button>
  <button mat-menu-item (tap)="menuItemClick('help')">
    <fa-icon [icon]="['far', 'question-circle']" class="app-menu-icon"></fa-icon>Hjælp
  </button>
  <button mat-menu-item (tap)="menuItemClick('settings')">
    <fa-icon [icon]="['fas', 'cog']" class="app-menu-icon"></fa-icon>Indstillinger
  </button>
  <button mat-menu-item (tap)="menuItemClick('logout')">
    <fa-icon [icon]="['fas', 'sign-out-alt']" class="app-menu-icon"></fa-icon>Log ud
  </button>
</mat-menu>
