@import "../../../variables";

.app-appbar {
  @include flex-row-spacebetween-center;
  color: $color-text;
  padding-left: 10px;
  height: $navbar-height;
  background-color: $bg-color-project;

  &.app-appbar-color-state-project {
    background-color: $bg-color-project;
  }

  &.app-appbar-color-state-task {
    background-color: $bg-color-task;
  }

  &.app-appbar-color-state-comment {
    background-color: $bg-color-comment;
  }

  &.app-appbar-color-state-user {
    background-color: $bg-color-user;
  }

  &.app-appbar-color-state-template {
    background-color: $bg-color-template;
  }

  &.app-appbar-color-state-message {
    background-color: $bg-color-message;
  }

  &.app-appbar-color-state-setting {
    background-color: $bg-color-setting;
  }

  .brand {
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 10px;
  }

  .menu-placeholder {
    width: 10px;
    height: 10px;
  }

  .menu {
    button {
      margin-right: 20px;

      .menu-indicator {
        @include indicator;
        left: 6px;
        top: 8px;
      }
    }
  }
}

.navbar-progress {
  height: 2px;
}

.menu-item-indicator {
  @include indicator;
  left: 3px;
  top: 17px;
}
