@import "../../../../../variables";

.admin-user-item {
  @include flex-row-spacebetween-center;

  .admin-user-item-actions {
    display: flex;
    flex-direction: column;

    .slide-button {
      @include flex-row-spacebetween-center;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
