@import "../../../../variables";

.dialog-title {
  text-align: center;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  .dialog-body-line {
    text-align: center;

    &.dialog-body-line-2, &.dialog-body-line-3 {
      margin-top: 5px;
    }
  }
}

.dialog-buttons {
  margin-top: 20px;
  @include flex-row-spacebetween;
}

.dialog-ok-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
