@import "../../../../../variables";

.user-chip {
  font-weight: lighter;
  font-size: 0.8rem;
  border-radius: 16px;
  padding: 1px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  display: inline-block;

  &.user-chip-project {
    background-color: $bg-color-user-chip-project;
  }

  &.user-chip-task {
    background-color: $bg-color-user-chip-task;
  }

  &.user-chip-subtask {
    background-color: $bg-color-user-chip-subtask;
  }

  &.user-chip-me {
    font-weight: 500;
    cursor: pointer;
  }

  &.user-chip-subtask-completed {
    background-color: $bg-color-user-chip-subtask-complete;
    cursor: default;
  }

  fa-icon {
    margin-left: 5px;
  }
}
