@import "../../../../variables";

.dialog-text {
  font-weight: lighter;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
}

.dialog-close-container {
  @include flex-row-spacebetween;
  margin-top: 15px;
}

mat-form-field {
  width: 100%;
}
