@import "../../../variables";

.task-content {
  @include flex-row-spacebetween-center;

  .task-menu {
    align-self: flex-start;
  }
}

.task-action {
  @include flex-row-spacebetween-center;
  margin-bottom: 5px;

  .task-action-item:first-child {
    margin-right: 20px;
  }

  .task-action-text {
    font-size: 14px;
  }

  .task-action-text {
    margin-left: 5px;
  }
}
