<h1>KOMMENTAR</h1>
<mat-list>
  <div mat-list-item appItemContainer="task" *ngFor="let task of tasks$ | async">
    <div class="task-content">
      <div>
        <app-item-title-desc [title]="task.title" [description]="task.description"></app-item-title-desc>
      </div>
      <div class="task-menu">
          <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
    </div>
    <div>
      <div class="task-action">
          <div class="task-action-item task-action-text">
              <fa-icon [icon]="['fas', 'tasks']"></fa-icon><span class="task-action-text">{{tasksCompleted}} / {{tasksTotal}}</span>
          </div>
          <div class="task-action-item">
              <button mat-button><fa-icon [icon]="['far', 'comment']" (click)="goToComments(task)"></fa-icon><span class="task-action-text">{{comments}}</span></button>
          </div>
      </div>
    </div>
    <app-subtask-list [showButton]="false" [task]="task" [edit]="false"></app-subtask-list>
  </div>
</mat-list>
