@import "../../../../variables";

.template-item-subtask {
  .item-content {
    @include flex-row-spacebetween-center;

    .item-title-container {
      display: flex;
      align-items: center;

      .item-title {
        padding: 10px;
      }

      .item-title-edit {
        padding-left: 0px;
      }
    }
  }
}
