<div appItemContainer="template-subtask" class="template-item-subtask">
  <div class="item-content">
    <div class="item-title-container">
      <button *ngIf="editMode" mat-icon-button (click)="editSubTask()" class="app-button-outline">
        <mat-icon>edit</mat-icon>
      </button>
      <div class="item-title" [ngClass]="{'item-title-edit': editMode}">{{templateSubTask.title}}</div>
    </div>
    <button *ngIf="editMode" mat-icon-button (click)="deleteSubTask()" class="app-button-outline">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
