@import "../../../../variables";

.task-content {
  @include flex-row-spacebetween-center;

  .task-content-edit {
    display: flex;
    align-items: center;

    button {
      margin-right: 5px;
    }
  }

  .task-menu {
    align-self: flex-start;
  }

  .list-item-end-edit-button {
    color: $color-task-edit-end;

    .list-item-end-edit {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1.2rem;

      mat-icon {
        font-size: 1.1rem;
      }
    }
  }
}

.task-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;

  .task-action-item:first-child {
    margin-right: 20px;
  }

  .task-action-text {
    font-size: 14px;
  }

  .task-action-text {
    margin-left: 5px;
  }

  .comment-indicator {
    @include indicator;
    left: auto;
    right: auto;
    top: 4px;
  }
}

.task-completed {
  background-color: $pink-a700;
}
