<div mat-list-item appItemContainer="task">
  <div class="task-content">
    <div>
      <app-item-title-desc [title]="task.title" [description]="task.description" [completed]="completed"></app-item-title-desc>
    </div>
    <div class="task-menu">
        <button mat-icon-button (click)="menuClick()"><mat-icon>more_vert</mat-icon></button>
    </div>
  </div>
  <div>
    <div class="task-action">
        <div class="task-action-item task-action-text">
            <fa-icon [icon]="['fas', 'tasks']"></fa-icon><span class="task-action-text">{{summary?.numberOfItemsCompleted}} / {{summary?.numberOfItems}}</span>
        </div>
        <div class="task-action-item">
            <button mat-button (click)="goToComments()"><fa-icon [icon]="['far', 'comment']"></fa-icon><span class="task-action-text">{{summary?.numberOfComments}}</span></button>
        </div>
    </div>
  </div>
  <app-subtask-list [showButton]="editMode" [task]="task" [edit]="editMode"></app-subtask-list>
</div>
