.app-project-details-edit {
  font-weight: lighter;
  font-size: 0.9rem;

  .app-project-details-edit-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .app-project-details-icon {
    font-size: 0.95rem;
    margin-right: 5px;
  }
}
