.app-project-details-edit {
  font-weight: lighter;
  line-height: 2rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  background-color: yellow;

  mat-icon {
    font-size: 0.9rem;
    margin-right:-5px;
  }
}
