<div class="comment-header">
    <div class="comment-header-project"><fa-icon [icon]="['far', 'clipboard']"></fa-icon> {{projectTaskName?.projectName}}</div>
    <div class="comment-header-task" *ngIf="projectTaskName?.taskName"><fa-icon [icon]="['fas', 'tasks']"></fa-icon> {{projectTaskName?.taskName}}</div>
</div>
<app-no-data-box *ngIf="showNoData" [data]="nodata" [small]="true"></app-no-data-box>
<mat-list>
  <app-comment-item *ngFor="let comment of comments$ | async" [comment]="comment" (menuClick)="menuItemClicked($event)"></app-comment-item>
</mat-list>
<app-fab-button (fabClick)="addComment()"></app-fab-button>
