<div class="app-project-details">
  <div>
    <fa-icon [icon]="['far', 'calendar']" class="app-project-details-icon"></fa-icon>
    {{ projectDate | amLocal:'da' | amDateFormat: 'DD-MM-YYYY' }}
  </div>
  <div>
    <button *ngIf="!passiveFields" mat-button (tap)="commentClicked()">
      <span *ngIf="showCommentIndicator" class="comment-indicator"></span>
      <fa-icon [icon]="['far', 'comment']" class="app-project-details-icon"></fa-icon><span
        class="task-action-text">{{summary?.numberOfComments}}</span>
    </button>
    <span *ngIf="passiveFields">
      <fa-icon [icon]="['far', 'comment']" class="app-project-details-icon"></fa-icon><span
        class="task-action-text">{{summary?.numberOfComments}}</span>
    </span>
  </div>
  <div>
    <button *ngIf="editMode" mat-icon-button (tap)="editTasksClicked()">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="!passiveFields" mat-button (tap)="tasksClicked()">
      <fa-icon [icon]="['fas', 'tasks']" class="app-project-details-icon"></fa-icon><span
        class="task-action-text">{{ summary?.numberOfItemsCompleted }} / {{ summary?.numberOfItems }}</span>
    </button>
    <span *ngIf="passiveFields">
      <fa-icon [icon]="['fas', 'tasks']" class="app-project-details-icon"></fa-icon><span
        class="task-action-text">{{ summary?.numberOfItemsCompleted }} / {{ summary?.numberOfItems }}</span>
    </span>
  </div>
</div>
