.app-project-details {
  font-weight: lighter;
  line-height: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-project-details-icon {
    margin-right: 5px;
  }

  .app-project-details-icon-button {
    font-size: 0.85rem;
  }

  .comment-indicator {
    position: absolute;
    left: auto;
    right: auto;
    top: 4px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    width: 10px;
    height: 10px;
  }
}
