.app-project-details {
  font-weight: lighter;
  line-height: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-project-details-icon {
    margin-right: 5px;
  }

  .app-project-details-icon-button {
    font-size: 0.85rem;
  }
}
