<h3>Menu indicator</h3>
<h3>Menu indicator Check for new users to approve</h3>
<h3>Templates Delete</h3>
<h3>Menuen</h3>
<h3>Iconer i menuerne</h3>
<app-no-data-box *ngIf="showNoData" [data]="nodata"></app-no-data-box>
<mat-list *ngIf="!showNoData">
  <app-project-list-item mat-list-item (menuClick)="projectItemMenuClick($event)"
    (commentsTotalClick)="gotoComments($event)" (tasksTotalClick)="gotoTasks($event)"
    (editTasksClick)="editTasksClick($event)" (editTitleDescClick)="editTitleDescClick($event)" (endEditProjectClick)="endEditProjectClick($event)"
    (userClick)="removeUserClick($event)" [enableRemoveUserButton]="true" *ngFor="let project of projects"
    [project]="project" [projectButtonState]="'menu'"></app-project-list-item>
</mat-list>
<app-fab-button (fabClick)="addMenu()" iconType="add"></app-fab-button>
