<div class="home-calendar" *ngIf="showCalendar">
  <app-month-item [singleItem]="true" [monthNumber]="currentMonth" [currentMonth]="currentMonth"
    (click)="gotoCalendar()"></app-month-item>
</div>
<app-no-data-box *ngIf="showNoData" [data]="nodata" [small]="true"></app-no-data-box>
<mat-list *ngIf="!showNoData" class="app-list">
    <app-filter (selectionChange)="filterChange($event)" [title]="filterTitle" [opened]="false" [containerType]="'project'"
    [filterItems]="filterItems"></app-filter>
  <app-project-list-item mat-list-item (menuClick)="projectItemMenuClick($event)"
    (commentsTotalClick)="gotoComments($event)" (tasksTotalClick)="gotoTasks($event)"
    (editTasksClick)="editTasksClick($event)" (editTitleDescClick)="editTitleDescClick($event)"
    (endEditProjectClick)="endEditProjectClick($event)" (userClick)="removeUserClick($event)"
    [enableRemoveUserButton]="true" *ngFor="let project of projects" [project]="project" [projectButtonState]="'menu'">
  </app-project-list-item>
</mat-list>
<app-fab-button (fabClick)="addMenu()" iconType="add"></app-fab-button>
