.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  .content {
    width: 600px;
  }
}

@media only screen and (max-width:600px) {
  .container {
    .content {
      width: 100%;
      margin: 0 10px;
    }
  }
}
