@import "../../../variables";
.signup-button {
  display: flex;
  justify-content: flex-end;
}

.login-form-button-container {
  @include flex-row-spacebetween-center;
}

.message {
  text-align: center;
}
