@import "../../../../../colors";

.app-sublist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background-color: $pink-600;
  border-radius: 4px;
  min-height: 50px;
  margin-bottom: 5px;

  .app-sublist-item-content {
    display: flex;
    align-items: center;

    button {
      margin-right: 5px;
    }
  }

  &:hover {
    background-color: $pink-300;
    border-radius: 4px;
  }
}
