<div class="sidebar" [@sidebarState]="sidebarState">
    <mat-list>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
      <mat-list-item><a mat-button routerLink=".">Menu</a></mat-list-item>
    </mat-list>
    <button type="button" (click)="onChange('close')">Test2</button>
</div>


