@import "../../../../colors";

.flex-row {
  display: flex;
  border-bottom: 1px solid white;
  align-items: center;
  width: 100%;
  color: white;
  font-weight: lighter;

  &.month-active {
    position: relative;
    width: 100%;
    font-size: 1rem;
    box-shadow: 0px 0px 3px 3px  rgba(255, 251, 0, 0.7);
    z-index: 100;
    border-bottom: none;
  }

  .month-name {
    min-width: 100px;
    align-self: center;
    padding-left: 10px;
  }

  .month-tasks {
    width: 100%;
    border-left: 1px solid white;
  }
}

.month-0-container {
  background-color: $cyan-900;
}

.month-1-container {
  background-color: $cyan-800;
}

.month-2-container {
  background-color: $cyan-700;
}

.month-3-container {
  background-color: $cyan-600;
}

.month-4-container {
  background-color: $pink-600;
}

.month-5-container {
  background-color: $pink-700;
}

.month-6-container {
  background-color: $pink-800;
}

.month-7-container {
  background-color: $pink-900;
}

.month-8-container {
  background-color: $teal-900;
}

.month-9-container {
  background-color: $teal-800;
}

.month-10-container {
  background-color: $teal-700;
}

.month-11-container {
  background-color: $teal-600;
}
