@import "../../../../variables";

.flex-row {
  display: flex;
  border-bottom: 1px solid $color-month-item-border;
  align-items: center;
  width: 100%;
  min-height: 60px;
  color: $color-text;
  font-weight: lighter;
  border-radius: 4px;

  &.month-active {
    position: relative;
    width: 100%;
    font-size: 1rem;
    box-shadow: 0px 0px 3px 3px $color-highligt-month;
    z-index: 100;
    border-bottom: none;
  }

  &.month-single {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  }

  .month-name {
    min-width: 100px;
    align-self: center;
    padding-left: 10px;
  }

  .month-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 60px;
    border-left: 1px solid $color-month-item-border;

    .no-items {
      font-size: 0.9rem;
      padding: 10px;
    }

    .month-add-task {
      display: flex;
      justify-content: flex-end;
      margin: 10px 0;
    }
  }
}

.month-0-container {
  background-color: $bg-color-calendar-month-0;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-0, 5%);
    border-radius: 4px;
  }
}

.month-1-container {
  background-color: $bg-color-calendar-month-1;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-1, 5%);
    border-radius: 4px;
  }
}

.month-2-container {
  background-color: $bg-color-calendar-month-2;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-2, 5%);
    border-radius: 4px;
  }
}

.month-3-container {
  background-color: $bg-color-calendar-month-3;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-3, 5%);
    border-radius: 4px;
  }
}

.month-4-container {
  background-color: $bg-color-calendar-month-4;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-4, 5%);
    border-radius: 4px;
  }
}

.month-5-container {
  background-color: $bg-color-calendar-month-5;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-5, 5%);
    border-radius: 4px;
  }
}

.month-6-container {
  background-color: $bg-color-calendar-month-6;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-6, 5%);
    border-radius: 4px;
  }
}

.month-7-container {
  background-color: $bg-color-calendar-month-7;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-7, 5%);
    border-radius: 4px;
  }
}

.month-8-container {
  background-color: $bg-color-calendar-month-8;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-8, 5%);
    border-radius: 4px;
  }
}

.month-9-container {
  background-color: $bg-color-calendar-month-9;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-9, 5%);
    border-radius: 4px;
  }
}

.month-10-container {
  background-color: $bg-color-calendar-month-10;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-10, 5%);
    border-radius: 4px;
  }
}

.month-11-container {
  background-color: $bg-color-calendar-month-11;

  &.month-edit app-month-task:hover {
    background-color: lighten($bg-color-calendar-month-11, 5%);
    border-radius: 4px;
  }
}
