@import "./colors";

$navbar-height: 60px;
$content-container-vertical-margin: 20px;
$used-vertical-area-space: $navbar-height + $content-container-vertical-margin;
$bg-color-project: $indigo-500;
$bg-color-task: $pink-800;
$bg-color-subtask: $pink-500;
$bg-color-comment: $teal-700;
$bg-color-comment-user: $teal-700;
$bg-color-user: $cyan-800;
$bg-color-template: $bg-color-project;
$bg-color-template-task: $bg-color-task;
$bg-color-template-subtask: $bg-color-subtask;
$bg-color-calendar-month-0: $cyan-900;
$bg-color-calendar-month-1: $cyan-800;
$bg-color-calendar-month-2: $cyan-700;
$bg-color-calendar-month-3: $cyan-900;
$bg-color-calendar-month-4: $pink-600;
$bg-color-calendar-month-5: $pink-700;
$bg-color-calendar-month-6: $pink-800;
$bg-color-calendar-month-7: $pink-900;
$bg-color-calendar-month-8: $teal-900;
$bg-color-calendar-month-9: $teal-800;
$bg-color-calendar-month-10: $teal-700;
$bg-color-calendar-month-11: $teal-600;
$color-highligt-month: rgba(255, 251, 0, 0.7);
$bg-color-message: $orange-900;
