@import "variables";
@import "colors";

html,
body {
    height: 100%;
    background-color: #effefe;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  .app-form-input {
    width: 600px;
  }

  .app-form-button {
    margin-top: 10px;
  }
}

@media only screen and (max-width:600px) {
    form {
      .app-form-input {
        width: 100%;
      }
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.app-text-bold {
  font-weight: 500;
}

.app-text-lighter {
  font-weight: lighter;
}

.app-text-italic {
  font-style: italic;
}

.app-item-container {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);
  margin-bottom: 5px;
  background-color: $bg-color-project;
  color: white;

  &.app-item-container-project {
    background-color: $bg-color-project;
  }

  &.app-item-container-task {
    background-color: $bg-color-task;
  }

  &.app-item-container-subtask {
    background-color: $bg-color-subtask;
  }

  &.app-item-container-comment {
    background-color: $bg-color-comment;
  }

  &.app-item-container-comment-user {
    background-color: $bg-color-comment-user;
  }

  &.app-item-container-user {
    background-color: $bg-color-user;
  }

  &.app-item-container-template {
    background-color: $bg-color-template;
  }

  &.app-item-container-template-task {
    background-color: $bg-color-template-task;
  }

  &.app-item-container-template-subtask {
    background-color: $bg-color-template-subtask;
    padding: 0px;
  }

  &.app-item-container-setting {
    background-color: $bg-color-setting;
    min-height: 60px;
  }

  &.app-item-container-message {
    background-color: $bg-color-message;
  }
}

.app-menu-icon {
  margin-right: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $indigo-50;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $indigo-100;
}
