/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #effefe;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

form .app-form-input {
  width: 600px;
}


@media only screen and (max-width:600px) {
    form .app-form-input {
        width: 100%;
    }
}
