<mat-nav-list>
  <a mat-list-item (tap)="onGotoRoute($event, 'edit')">
    <span mat-line>Opret nyt projekt</span>
    <span mat-line>Du vil oprette et nyt projekt fra bunden.</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item (tap)="onGotoRoute($event, 'delete')">
    <span mat-line>Opret nyt projekt fra skabelon</span>
    <span mat-line>Du vil oprette et projekt der er baseret på en projekt skabelon der.</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item (tap)="onGotoRoute($event, '/login')">
    <span mat-line>Deltag i eksisterende projekt</span>
    <span mat-line>Du vil tilslutte dig til et eksisterende projekt.</span>
  </a>
</mat-nav-list>
