<div>
  <div cdkDropList class="app-list" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="'false'">
    <div class="app-list-item noselect" *ngFor="let task of tasks" cdkDrag>
      <div class="app-list-item-container">
        <div>
          <mat-icon cdkDragHandle>drag_indicator</mat-icon>
        </div>
        <div class="app-list-item-content">
          <div>
            {{task.title}}
          </div>
          <div>
            <div *ngIf="task?.description">{{task.description}}</div>
          </div>
        </div>
        <button mat-button type="button"><mat-icon>more_vert</mat-icon></button>
      </div>
    </div>
  </div>
</div>
<app-fab-button (add)="addTask()"></app-fab-button>
