<div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="'false'">
  <div appItemContainer class="app-list-item bg-indigo-50 noselect" *ngFor="let task of tasks; let i = index" cdkDrag
    cdkDragPreview>
    <div class="app-list-item-container">
      <div class="app-list-item-drag">
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
      </div>
      <div class="app-list-item-content">
          <app-item-title-desc [title]="task.title" [description]="task.description"></app-item-title-desc>
      </div>
      <button mat-button type="button" (click)="menuTask(task)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <app-subtask-list [showButton]="true" [task]="task"></app-subtask-list>
  </div>
</div>
<app-fab-button (fabClick)="addTask()"></app-fab-button>
