<mat-nav-list>
    <a mat-list-item (tap)="action($event, 'joinProject')">
      <span><fa-icon [icon]="['fas', 'chevron-circle-right']" class="app-menu-icon"></fa-icon>Tilslut til et eksisterende projekt</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (tap)="action($event, 'newProject')">
      <span><fa-icon [icon]="['fas', 'chevron-circle-right']" class="app-menu-icon"></fa-icon>Opret nyt projekt</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (tap)="action($event, 'newProjectfromTemplate')">
      <span><fa-icon [icon]="['fas', 'chevron-circle-right']" class="app-menu-icon"></fa-icon>Opret nyt projekt fra skabelon</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (tap)="action($event, 'newTemplate')">
      <span><fa-icon [icon]="['fas', 'chevron-circle-right']" class="app-menu-icon"></fa-icon>Opret ny skabelon</span>
    </a>
  </mat-nav-list>

