<mat-nav-list>
  <a mat-list-item (click)="action($event, 'joinProject')">
    <span>
      <fa-icon [icon]="['fas', 'chevron-circle-right']" class="app-menu-icon"></fa-icon>Deltag i et eksisterende projekt
    </span>
  </a>
  <div *ngIf="authService.isEditor">
    <mat-divider></mat-divider>
    <a mat-list-item (click)="action($event, 'newProject')">
      <span>
        <fa-icon [icon]="['fas', 'chevron-circle-right']" class="app-menu-icon"></fa-icon>Opret nyt projekt
      </span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="action($event, 'newProjectfromTemplate')">
      <span>
        <fa-icon [icon]="['fas', 'chevron-circle-right']" class="app-menu-icon"></fa-icon>Opret nyt projekt fra skabelon
      </span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="action($event, 'newTemplate')">
      <span>
        <fa-icon [icon]="['fas', 'chevron-circle-right']" class="app-menu-icon"></fa-icon>Opret ny skabelon
      </span>
    </a>
  </div>
</mat-nav-list>
