@import "../../../../colors";
.list-item-container {
  display: flex;
  justify-content: space-between;

  .list-item-content {
    width: 100%;
  }

  app-project-users {
    margin-top: 5px;
  }

  .list-item-button {
    align-self: flex-start;
    margin-left: 20px;
  }
}
