<div mat-list-item class="list-item-container"
    style="background-color: white;box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);margin-bottom: 5px;">
    <div class="list-item-content">
      <div class="list-item-title">Silkeborg Beachvolley Stævne 2019</div>
      <div class="list-item-subtitle">ToDo liste for opgaver til stævnet.</div>
      <div class="list-item-content-2-col">
        <div>
          <mat-icon>calendar_today</mat-icon>12-09-2019
        </div>
        <div>
          <mat-icon>done</mat-icon>5/10
        </div>
      </div>
      <div class="list-item-users">
        <mat-chip-list>
          <mat-chip>Christian Nicolaisen</mat-chip>
          <mat-chip>Louise Dam</mat-chip>
          <mat-chip>Kasper Nielsen</mat-chip>
          <mat-chip>Else Haun</mat-chip>
          <mat-chip>Mogen Kjeldsen</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <button mat-icon-button class="list-item-button">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
