@import "../../../../colors";

mat-expansion-panel {
  background-color: $indigo-400;
}

.list-item-container {
  display: flex;
  justify-content: space-between;

  .list-item-content {
    width: 100%;
  }

  app-project-users {
    margin-top: 10px;
  }

  .list-item-button {
    align-self: flex-start;
    margin-left: 20px;
  }
}

.tasks-container {
  font-weight: lighter;
}

.task-item {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
