<div mat-list-item class="list-item-container" appItemContainer>
  <div class="list-item-content">
    <app-item-title-desc [title]="'Silkeborg Beachvolley Stævne 2019'" [description]="'Dette er en beskrivelse til beachvolley stævnet 2019 og de opgaver vi har til det. Og hvem der står for hvem og hvad.'"></app-item-title-desc>
    <app-project-details [projectDate]="" [taskCompleted]="5" [taskTotal]="10"></app-project-details>
    <app-project-users [projectUsers]="users"></app-project-users>
  </div>
  <button mat-icon-button class="list-item-button">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
