<div appItemContainer="project">
  <div class="list-item-container">
    <div class="list-item-content">
      <div class="list-item-title-desc">
        <div class="list-item-title-desc-edit" *ngIf="editMode">
          <button mat-icon-button (tap)="editProjectTitleDescClicked()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div>
          <app-item-title-desc [title]="project.title" [description]="project.description"></app-item-title-desc>
        </div>

      </div>
      <app-project-details *ngIf="showDetails" [projectDate]="project?.createdAt.toDate()" [summary]="summary"
        (commentsTotalClick)="commentsTotalClicked()" (tasksClick)="tasksClicked()"
        (editTasksClick)="editTasksClicked()" [editMode]="editMode" [passiveMode]="passiveMode"></app-project-details>
      <app-project-details-edit *ngIf="showDetailsEdit" [project]="project" [summary]="summary" [editMode]="editMode"
        (editTasksClick)="editTasksClicked($event)">
      </app-project-details-edit>
      <app-users-list [type]="'project'" *ngIf="showUsers" [users]="users"
        [enableRemoveUserButton]="enableRemoveUserButton" (userClick)="userClicked($event)"></app-users-list>
    </div>
    <button mat-icon-button *ngIf="projectButtonState === 'menu'" class="list-item-button" (tap)="showMenu()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button *ngIf="projectButtonState === 'addperson'" class="list-item-button" (tap)="addPerson()">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button *ngIf="projectButtonState === 'delete'" class="list-item-button"
      (tap)="deleteProjectClicked()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-button *ngIf="projectButtonState === 'endedit'" class="list-item-button list-item-end-edit-button"
      (tap)="endEditProjectClicked()">
      <div class="list-item-end-edit">
        <mat-icon [inline]="true">edit</mat-icon><span>Afslut</span>
      </div>
    </button>
    <div class="empty-space" *ngIf="projectButtonState === 'none'"></div>
  </div>
</div>
